<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovollovo.shoppingmall.goods.dao.GoodsMapper">
  <insert id="registerGoods" >
  	insert into goods values(#{name},#{code},#{category},#{price},#{stock},#{description},#{thumbnail_image}, default)
  </insert>
  <select id="searchGoods" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods where code= #{code}
  </select>
  <select id="searchCode" resultType="String">
  	select code from goods where code= #{code}
  </select>
  <select id="searchNewGoods" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods order by registered_time desc limit #{count}
  </select>   
   <select id="searchCategoryName" resultType="String">
  	select name from category where code = #{category}
  </select>
  <select id="searchCategoryCode" resultType="int">
  	select code from category where name = #{name}
  </select>
  <select id="searchCategory" resultType="com.ovollovo.shoppingmall.goods.Category">
  	select * from category order by code asc
  </select>
  <select id="searchCategoryFirstGoods" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods where category like concat(#{category},'%%')  order by registered_time desc limit #{n},#{m}
  </select>
  <select id="searchCategorySecondGoods" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods where category = #{category} order by registered_time desc limit #{n},#{m}
  </select>
  <select id="searchCategoryFirstCount" resultType="int">
  	select count(*) from goods where category like concat(#{category},'%%')
  </select>
  <select id="searchCategorySecondCount" resultType="int">
  	select count(*) from goods where category = #{category}
  </select>
  <select id="searchCategoryNumber" resultType="int">
  	select category from goods where code = #{code}
  </select>
  <select id="searchGoodsByName" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods where name like concat('%',#{name},'%')
  </select>
  <update id="stackSaleCount">
  	update goods set sale_count = sale_count + #{sale_count} where code = #{code}
  </update>
  <select id="searchBestGoods" resultType="com.ovollovo.shoppingmall.goods.Goods">
  	select * from goods order by sale_count desc limit #{count}
  </select>
  <update id="modifyGoods">
  	update goods set name = #{name},code = #{code},category =  #{category} ,price = #{price},stock = #{stock}, description = #{description} where code = #{wherecode}
  </update> 
  <update id="modifyGoodsImage">
  	update goods set thumbnail_image = #{thumbnail_image} where code = #{code}
  </update> 
  <delete id="deleteGoods">
  	delete from goods where code = #{code}
  </delete>
  <update id="decreaseStock">
  	update goods set stock = stock - #{count} where code = #{code}
  </update> 
</mapper>
