<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovollovo.shoppingmall.member.dao.MemberMapper">
  <insert id="joinMember" >
  	insert into member (id,pw,email) values (#{id},#{pw},#{email})
  </insert>
  <select id="loginMember" resultType="com.ovollovo.shoppingmall.member.Member">
  	select * from member where id=#{id} and pw=#{pw}
  </select>
  <select id="searchMember" resultType="String">
  	select id from member where id=#{id}
  </select>
  <select id="searchEmail" resultType="String">
  	select email from member where email=#{email}
  </select>
  <update id="createAuthkey">
   update member set authkey = #{authkey} where id = #{id}
  </update>
  <update id="confirmAuthstatus">
   update member set authstatus = 1 where id = #{id}
  </update>
  <select id="searchAuthstatus" resultType="boolean">
  	select authstatus from member where id=#{id}
  </select>
  <select id="searchAuthkey" resultType="String">
  	select authkey from member where id=#{id}
  </select>
  <update id="deleteAuthkey">
  	update member set authkey = null where id = #{id}
  </update>
</mapper>
